<!DOCTYPE html PUBLIC "-//W3C//DTD XTHML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="{{ site.url }}/css/base.css" rel="stylesheet" type="text/css" />

        <!--script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'GA-Account']);
            _gaq.push(['_setDomainName', 'GA-domain']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script-->
    </head>

    <body>
        <div id="content">
            <div id="header">
                <span class="h1">{% if page.title %} {{ page.title }} {% else %} Accumulo storage with Pig {% endif %}</span>
                <span style="float:right;"><img src="{{ site.url }}/images/pig.gif" height="70px" alt="pig" /><img src="{{ site.url }}/images/accumulo.png" height="70px" alt="accumulo" style="padding-left:15px"/></span>
            </div>
            {{ content }}
        </div>
    </body>
</html>
